@font-face {
    font-family: 'RobotoMono';
    src: url(./fonts/RobotoMono-VariableFont_wght.ttf);
}

* {
    font-family: 'RobotoMono', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color:white;
    background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
}